@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

body{
    font-family: "Nunito", sans-serif;
    background-color: #F6F4EB;
}
.title{
    font-size: 22px;
}
.table-transparent, .table-transparent th, .table-transparent td{
    background-color: transparent;
}
.resident-picture{
    width: 45px;
    height: 45px;
    object-fit: cover;
}
.nav-link{
    color: #EEEEEE;
}
.nav-link:hover{
    color: #FFFFFF !important;
}

.login-container{
    min-height: 100vh;
    background-image: linear-gradient(30deg, #91C8E4, #4682A9);
}
.my-card{
    background-color: #FFFFFF;
}

.my-btn2{
    border: none;
    background-color: #E1E1E1;
    color: #4682A9;
}
.my-btn2:hover{
    background-color: #DDDDDD;
    color: #EEEEEE;
}
.my-btn2:active{
    background-color: #E1E1E1 !important;
    color: #4682A9 !important;
}
.my-btn{
    border: none;
    background-color: #749BC2;
    color: #EEEEEE;
}
.my-btn:hover{
    background-color: #4682A9;
    color: #EEEEEE;
}
.my-btn:active{
    background-color: #749BC2 !important;
    color: #EEEEEE !important;
}

.export-section .btn{
    width: auto;
}
.navbar-toggler{
    border: none;
}
.navbar-toggler:focus{
    outline: none;
    border: none;
    box-shadow: none;
}

.text-link{
    color: #4682A9;
}
.my-bg-yellow{
    background-color: #F4D160;
}
.my-bg-blue{
    background-color: #91C8E4;
}
.my-bg-darkblue{
    background-color: #4682A9;
}
.my-alert{
    background-color: #EEEEEE;
    color: #4682A9;
}
