@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

body{
    font-family: "Nunito", sans-serif;
    background-color: #FFFFFF;
}
.title{
    font-size: 22px;
}
.nav-link{
    color: #EEEEEE;
}
.nav-link:hover{
    color: #FFFFFF !important;
}

.login-container{
    min-height: 100vh;
    background-image: linear-gradient(30deg, #FFD24C, #92B4EC);
}
.my-card{
    background-color: #EEEEEE;
}
.my-btn{
    background-color: #FFB72B;
    color: #EEEEEE;
    width: 100%;
}
.my-btn2{
    color: #FFB72B;
    background-color: #EEEEEE;
}
.my-btn3{
    color: #EEEEEE;
    background-color: #FFB72B;
}
.my-btn:hover{
    background-color: #92B4EC;
    color: #EEEEEE;
}
.my-btn2:hover{
    background-color: #FFB72B;
    color: #EEEEEE;
}
.my-btn3:hover{
    background-color: #FFE69A;
    color: #FFFFFF;
}
.my-btn:active, .my-btn2:active, .my-btn3:active{
    background-color: #DDDDDD !important;
    color: #434343 !important;
}.export-section .btn{
    width: auto;
}
.navbar-toggler{
    border: none;
}
.navbar-toggler:focus{
    outline: none;
    border: none;
    box-shadow: none;
}

.text-link{
    color: #FFD24C;
}
.my-bg-yellow{
    background-color: #FFD24C;
}
.my-bg-blue{
    background-color: #92B4EC;
}